.header {
  padding: 11px 17px;
  display: flex;
  line-height: 0;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.header .header-brand {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header > div {
  flex: 1;
}

.header input {
  display: inline-block;
  width: 300px;
  margin: 0;
}

.header .header-input span {
  position: relative;
}

.header .header-input span::before {
  content: ' ';
  background: url('./globe.svg') center center no-repeat;
  height: 32px;
  width: 32px;
  top: 0;
  left: -32px;
  position: absolute;
}

.header button {
  display: inline-block;
  margin: 5px;
  width: unset;
}

.header .header-button {
  text-align: right;
}

.header .header-input {
  text-align: center;
}

.header img {
  height: 15px;
  margin-right: 16px;
}
