main > .asset-search-container {
    padding: 0;
}

main > .section > div.asset-search-wrapper {
    background-image: linear-gradient(15deg, #7c84fc, #ff4dd2);
    max-width: unset;
}

main .asset-search {
    max-width: 800px;
    margin: auto;
    padding: 50px 1rem;
}

main .asset-search input {
    margin: auto;
    color: white;
}

main .asset-search input::placeholder {
    color: #ffffff80;
}